* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(147, 177, 228);
  max-width: 1000px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

.header {
  padding: 15px;
  background-color: rgb(38, 199, 177);
  grid-column: 1 / 2;
  text-align: center;
}

.aside {
  background-color: rgb(40, 207, 101);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  background-color: orange;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.article h1 {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}

.images-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.image {
  background-color: rgb(255, 199, 94);
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image h1 {
  font-size: 16px;
  margin: 0;
}

.footer {
  padding: 15px;
  background-color: rgb(38, 199, 177);
  grid-column: 1/2;
  text-align: center;
}

h1 {
  color: white;
}

.wrapper div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.wrapper div:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
